body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

h1 {
    margin-top: 55px;
}

input {
    padding: 15px;
    width: 220px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

li {
    list-style: none;
    margin: 10px;
    padding: 10px;
    background-color: rgb(108, 92, 92);
}